<ActionBar>
    <Label text="Add a new homework"></Label>
</ActionBar>


<GridLayout class="page__content">
    <DockLayout stretchLastChild="false">
        <ScrollView orientation="horizontal" dock="top">
            <StackLayout orientation="vertical">
                <TextField [(ngModel)]="item.name" hint="Homework..."></TextField>
                <TextField [(ngModel)]="item.description" hint="Description..."></TextField>
                <DatePicker [date]="item.due" minDate="1970-01-01" maxDate="2100-12-31"></DatePicker>
                <Image *ngIf="item.image.src !== undefined" height="100" width="100" [src]="item.image.src"
                       stretch="fill"></Image>
                <Image *ngIf="item.image.src === undefined" height="100" width="100" src="font://&#xf030;"
                       (tap)="onTakePictureTap()" class="fas t-36"></Image>
            </StackLayout>
        </ScrollView>
        <Button text="Save" (tap)="save()" dock="bottom"></Button>
    </DockLayout>
</GridLayout>
